---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import SocialShares from '@components/SocialShares.astro'
import BreakoutImage from '@components/BreakoutImage.astro'
import { getCollection, render } from 'astro:content'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { post: post.id },
    props: { post },
  }))
}) satisfies GetStaticPaths

const { post } = Astro.props
const { Content } = await render(post)

const author = {
  name: post.data.author,
  image: '/posts/post-image-1.png',
  bio: 'Passionate accessibility advocate',
}
---

<DefaultLayout title={post.data.title} description={post.data.description} url={post.data.title}>
  <PageHeader
    title={post.data.title}
    subtitle={post.data.description}
    author={author}
    bgType="bordered"
  />
  <section class="my-12">
    <div class="narrow container">
      <Content />
    </div>
  </section>
  <section class="my-12">
    <div class="narrow space-content container">
      <h2>Share this post</h2>
      <p>Like this post? Share it with your friends!</p>
      <SocialShares />
    </div>
  </section>
</DefaultLayout>
